.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__name
        suzuki
      %ul.side-bar__header__box__icon
        %li.side-bar__header__box__icon__new-group
          =link_to "#" do
            = icon('fa', 'edit')
        %li.side-bar__header__box__icon__edit-account
          =link_to "#" do
            = icon('fa', 'cog')
  .side-bar__group-list
    .side-bar__group-list__room
      .side-bar__group-list__room__group-name
        %p techcamp
      .side-bar__group-list__room__message
        %p まだメッセージはありません
    .side-bar__group-list__room
      .side-bar__group-list__room__group-name
        %p テストグループ
      .side-bar__group-list__room__message
        %p まだメッセージはありません
